body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.translation-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

/*.translation-input, .translation-output {*/
/*  width: 45%;*/
/*}*/

/*.translation-controls {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 10%;*/
/*}*/

/*textarea {*/
/*  width: 100%;*/
/*  height: 100px;*/
/*  resize: none;*/
/*}*/